*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    cursor: default;
}
:root{
    --bg-color:#000;
    --text-color:#fff;
    --primary-color:#0f0;
    --secondary-color:#ff0;
    --mono-color:rgb(85, 110, 7);
}
body{
    background-color: rgb(8, 8, 8,0.4);
    color: var(--text-color);
    border: 5px inset rgb(225,225,8,0.4);
}
header{
    margin: 0;
    width: 100vw;
    /* height: 100vh; */
    position: sticky;
    top: 0;
    background-color: rgba(5, 5, 13,0.7);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px ridge var(--primary-color);
    background-color: rgba(192, 192, 13, 0.2);
}
header nav span{
    font-size: 30px;
    font-weight: 900;
    text-shadow: 6px 2px 4px var(--primary-color);
    color: var(--primary-color);
    border: 2px outset var(--primary-color);
    border-radius: 8px;
    padding: 2px 8px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}
header nav ul i{
    font-size: 15px;
    font-weight: 900;
    color: var(--primary-color);
    border: 2px outset var(--primary-color);
}
header nav ul li{
color: var(--secondary-color);
}
header nav button{
    border: 2px groove var(--primary-color);
    padding: 3px 8px;
    border-radius: 4px;
}
main{
    margin-bottom: 50px;
}
main figure{
    text-align: center;
    border: 3px solid var(--mono-color);
    margin: 2px;
    color: var(--bg-color);
}
@media (max-width:420px) {
    figure{
        display: none;
    }
    .page1,.page2{
        width: 200px;
    }
    header{
        width: 100%;
    }
    body{
        width: 100vw;
        margin: 0;
        padding: 0;
        border: none;
    }
    header nav{
        width: 100%;
        display: none;
        margin: 0;
        /* padding: 0; */
        border: none;
    }
    
}
main figure img{
    width: 90vw;
    height: 100vh;
    padding: 3px 0px;
    border-radius: 8px;
    object-fit:cover;
    box-shadow: 3px 3px 4px 5px var(--mono-color);
}
main figure figcaption{
    margin: auto;
    padding: 5px 0px 8px 0px;
}
main figure figcaption span{
    /* font-size: 35px; */
    text-transform: uppercase;
    color: var(--bg-color);
    margin:3px 0 5px 0;
}
.container {
    color: var(--bg-color);
    text-align: center;
    margin-top: 10px;
    transition: 3s;
}
.container h1{
    margin: 40px auto;
    background-color: rgb(6, 225, 10,0.5);
    width: 400px;
    border-radius: 10px;
    border: 4px outset rgb(225, 225, 10,0.3);
    box-shadow: 3px 2px 3px 3px rgb(225, 225, 10,0.3);
    padding-bottom: 6px;
    text-shadow: 8px 3px 3px rgb(240, 225,6,0.8);
}
.container .page{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 1em;
    transition: 0.4s ease-in-out all;
}
@media (max-width:1065px) {
    .container .page{
        justify-content: space-between;
    }
    .page .page1{
        width: 600px;
        padding:0px 0px;
        margin: auto auto;
        font-size: 8px;
    }
    .page .p{
        font-size: 8px;
    }
    .page .img{
        font-size: 80px;
        object-fit: cover;
    }
}
.container .page .page1,.page2{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    padding:0px 10px;
    margin: auto 90px;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(5, 200, 8,0.6);
    border: 2px outset var(--primary-color);
}
@media (max-width:870px) {
    .container{
        text-align: center;
        margin: auto;
    }
    
    .container .page{
        display: block;
    }
    .container .page .page1,.page2{
        margin: 50px auto;
        
    }
    .container h1{
        font-size: 20px;
        width: 300px;
    }
    figure img{
        /* width: 400px; */
        height: auto;
    }
}
.container .page div p{
    padding: 4px 4px;
    text-align: justify;
    text-indent: 50px;
}
.container .page .img .india{
    padding: 10px 10px;
    width: 100px;
    float: left;
    border-radius: 4px;
}
.container .page .img .avanger{
    padding: 10px 10px;
    width: 100px;
    float: left;
    border-radius: 4px;
}
.container .page .p{
    float: right;
    width:300px
}
@media (max-width:650px) {
    .bar{
        display: none;
    }
}


/* ::-webkit-scrollbar{
    display: none;
} */